{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway&display=swap" rel="stylesheet"> 
    <title>Corey Richardson | Chicago, IL</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">bio</a></li>
            <li><a href="#">my work</a></li>
            <li><a href="#">blog</a></li>
        </ul>
    </nav>
    <!-- Block content -->
    {% block content %}
    {% endblock %}
</body>
</html>