{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="{% static 'website/js/base.js' %}"></script>
    <title>Corey Richardson | Chicago, IL</title>
</head>

<body>
    <nav>
        <a id="top-link" href="{% url 'website:index' %}">Corey Richardson</a>
        <div id="links">
            <a href="{% url 'website:index' %}">Home</a>
            <a href="{% url 'website:bio' %}">Bio</a>
            <!-- <a href="{% url 'website:my_work' %}">My work</a>
            <a href="#">Blog</a> -->
        </div>
        <div id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>