{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<main>
    <img id="home-banner" src="{% static 'website/images/bio-banner.png' %}">

    <!-- Greeting -->
    <section class="bio-row">
        <div class="bio-box-a">
            <h1>Bio</h1>
            <p>A fast description of my years.</p>
        </div>
    </section>
    <!-- First two pictures -->
    <section class="bio-row">
        <div class="bio-box-a">
            <img src="{% static 'website/images/bio/blink.png' %}">
        </div>
        <div class="bio-box-b">
            <img src="{% static 'website/images/bio/live.png' %}">
        </div>
    </section>
    <!-- Growing up -->
    <section class="bio-row">
        <div class="bio-box-a">
            <h2>Growing up</h2>
            <p>I grew up in Illinois, born in the year of the Gameboy. My favorite things to do have always been playing with computers and guitars.</p>
        </div>
        <div class="bio-box-b">
            <figure>
                <img src="{% static 'website/images/bio/kid-les-paul.png' %}">
                <figcaption>First guitar = 1979 Les Paul Silverburst. (Whoa!) Thanks to Uncle Phil.</figcaption>
            </figure>
        </div>
    </section>
    <!-- Schooling -->
    <section class="bio-row">
        <div class="bio-box-a">
            <h2>Schooling</h2>
            <p>
                I completed a BFA in jazz guitar performance at the Univertsity of Michigan. While there, I explored my desire to play guitar in musical theatre pit orchestras. UM has a fantastic musical theatre department, and I was in every show or cabaret that would have me.
            </p>
            <p>Some viral videos were made during this time:</p>
            <ul>
                <li>“A Very Potter Sequel” — Team Starkid</li>
                <li>“Sunny” — Ann Street Soul</li>
            </ul>
        </div>
        <div class="bio-box-b">
            <figure>
                <img src="{% static 'website/images/bio/AVPS.png' %}">
                <img src="{% static 'website/images/bio/sunny.png' %}">
                <figcaption>First guitar = 1979 Les Paul Silverburst. (Whoa!) Thanks to Uncle Phil.</figcaption>
            </figure>
        </div>
    </section>
</main>
{% endblock %}
