{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<main>
    <img id="banner" src="{% static 'website/images/bio-banner.png' %}">
    <div id="bio-content">
        <!-- Greeting -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h1>Bio</h1>
                <p>A fast description of my years.</p>
            </div>
        </section>
        <!-- First two pictures -->
        <section class="bio-row">
            <div class="bio-box-a">
                <img src="{% static 'website/images/bio/blink.png' %}">
            </div>
            <div class="bio-box-b">
                <img src="{% static 'website/images/bio/live.png' %}">
            </div>
        </section>
        <!-- Growing up -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h2>Growing up</h2>
                <p>I grew up in Illinois, born in the year of the Gameboy. My favorite things to do have always been playing with computers and guitars.</p>
                <p>I was lucky to attend a public high school that had a wonderful arts program. I did everything from writing music for school plays, playing drums in the marching band, being in the pit for plenty of musicals, and being a part of a (<a href="https://youtu.be/LqyU6Sg3X5s" target="_blank">now viral</a>) silly talent show performance of the Halo theme song. </p>
            </div>
            <div class="bio-box-b">
                <figure>
                    <img src="{% static 'website/images/bio/kid-les-paul.png' %}">
                    <figcaption>First guitar = 1979 Les Paul Silverburst. (Whoa!) Thanks to Uncle Phil.</figcaption>
                </figure>
            </div>
        </section>
        <!-- Schooling -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h2>Schooling</h2>
                <p>
                    I completed a BFA in jazz guitar performance at the University of Michigan. While there, I explored my interest in playing guitar in musical theatre pit orchestras. It combined my classical music background with my joy of playing popular guitar styles. UM has a fantastic musical theatre department — I was in every show or cabaret that would have me.
                </p>
                <p>
                    The summer after my sophomore year, I played guitar for a student-made parody musical of Harry Potter, “<a href="https://youtu.be/OepW-AG-Ris" target="_blank">A Very Potter Sequel</a>.” This went completely viral — I remember even seeing a photo of it in a real-world magazine. Fans of <i>Glee</i> will recognize the star as Darren Criss. I've been glad to continue playing the occasional gig for him as a solo artist, and for other <a href="https://www.teamstarkid.com/" target="_blank">Team Starkid</a> productions.
                </p>
            </div>
            <div class="bio-box-b">
                <figure>
                    <img src="{% static 'website/images/bio/AVPS.png' %}">
                    <img src="{% static 'website/images/bio/sunny.png' %}">
                <figcaption>Top, <i>A Very Potter Sequel</i> poster. Bottom, recording “Sunny” in my college living room.</figcaption>
                </figure>
            </div>
        </section>
        <!-- LA -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h2>LA</h2>
                <p>
                    In 2012 after college graduation, I moved to Los Angeles for a job with an iPad-based sheet music startup called Chromatik. It was the early days of sheet music on tablets. I worked in QA, marketing, and ultimately ran our sheet music production team.
                </p>
                <p>
                    At the same time, my college band had gone viral on Reddit for <a href="https://youtu.be/B_y4X-tz2qY" target="_blank">our cover</a> of the soul classic “Sunny.” From that attention, we successfully funded and completed our self-titled EP, Ann Street Soul. Fans of Vulfpeck will recognize the Ann St. singer as Antwaun Stanley.
                </p>
            </div>
            <div class="bio-box-b">
                <figure>
                    <img src="{% static 'website/images/bio/santa-monica.png' %}">
                    <img src="{% static 'website/images/bio/finished-ep.png' %}">
                <figcaption>Top, a view of the Santa Monica pier from the Chromatik office. Bottom, the finished Ann St, Soul EP.</figcaption>
                </figure>
            </div>
        </section>
        <!-- Chicago -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h2>Chicago</h2>
                <p>
                    After a year in LA, I decided to move to Chicago so that I could be closer to both a larger musical theatre market and family. I continued working for Chromatik remotely for a few years longer.
                </p>
                <p>
                    After years of playing musicals in small theatres (and high schools!) I broke into the Union scene. I’ve  been lucky and grateful to be a part of some wonderful productions. A highlight to date was being a regular sub in the Chicago production of Hamilton. (For lead guitarist <a href="https://feltonoffard.com/" target="_blank">Felton Offard</a>.)
                </p>
            </div>
            <div class="bio-box-b">
                <figure>
                    <img src="{% static 'website/images/bio/footloose.png' %}">
                    <img src="{% static 'website/images/bio/hamilton.png' %}">
                <figcaption>Top, the orchestra for <i>Footloose</i> at the Lincolnshire Marriott suburban theatre. Bottom, my wife and sisters on the set of <i>Hamilton</i> with me after a sweaty show.</figcaption>
                </figure>
            </div>
        </section>
        <!-- Soundslice -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h2>Soundslice</h2>
                <p>In 2015 I left Chromatik to join <a href="https://www.soundslice.com/" target="_blank">Soundslice</a> as the content director and employee #3.</p>
                <p>
                    If you haven’t seen it, Soundslice is a web-based platform that lets you sync sheet music with real recordings. It was founded by <a href="http://www.holovaty.com/" target="_blank">Adrian Holovaty</a> and <a href="https://www.pjmacklin.com/" target="_blank">PJ Macklin</a>
                </p>
                <p>
                    It’s an incredible tool for self-study and teaching, and is trusted by some big organizations including TrueFire, Premiere Guitar and Berklee College of Music. It’s also a valued resources for independent artists looking to sell their own instructional music content. Artists including <a href="https://www.marklettieri.com/" target="_blank">Mark Lettieri</a> of Snarky Puppy, <a href="https://synner.com/home/" target="_blank">Synyster Gates</a> of Avenged Sevenfold and <a href="https://www.endascahill.com/" target="_blank">Enda Scahill</a> of We Banjo 3.
                </p>
                <p>
                    I’m a proud co-owner of the company. I run our store and marketing: anything that involves video edits, musical transcriptions or artists. Lately, I also do some junior web development.
                </p>

            </div>
            <div class="bio-box-b">
                <figure>
                    <img src="{% static 'website/images/bio/reverb.png' %}">
                    <img src="{% static 'website/images/bio/in-n-out.png' %}">
                <figcaption>Top, Adrian and I working out of a space at Reverb.com. Bottom, the team at an  In-N-Out Burger before the 2018 NAMM show in Anaheim, CA.</figcaption>
                </figure>
            </div>
        </section>
        <!-- These days -->
        <section class="bio-row">
            <div class="bio-box-a">
                <h2>These days</h2>
                <p>
                    I still work at Soundslice and have been growing in my web development chops. I’m quite comfortable with Python, Django, HTML, CSS, Javascript and PostgreSQL.
                </p>
                <p>
                    You can usually find me at the Irish music session on Tuesday nights at the Galway Arms in Chicago.
                </p>
            </div>
            <div class="bio-box-b">
                <figure>
                    <img src="{% static 'website/images/bio/session.png' %}">
                <figcaption>Hup!</figcaption>
                </figure>
            </div>
        </section>
    </div>
</main>
{% endblock %}
