{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<div class="hero">
</div>
<main>
    <div class="greeting">
        <div class="name">
            <span class="dot"></span>
            <h1>Corey Richardson</h1>
            <span class="dot"></span>
        </div>
        <div class="mission">
            <p>David Saenger has made playing and teaching guitar his life's work. He holds a B.M. in Commercial Music from Millikin University and a M.M. in Jazz from Roosevelt University. He teaches lessons of all styles to all ages at Saenger Guitar Studio. In addition to lessons, Dave regularly plays in theater productions throughout Chicagoland as well as weddings, parties, religious services and private events. Dave can also be seen playing with Diana and the Dishes.</p>
        </div>
    </div>
</main>
{% endblock %}
