{% extends 'website/base.html' %}
{% load static %}

{% block title %} Corey Richardson | Chicago, IL {% endblock %}

{% block content %}
<main>
    <img id="banner" src="{% static 'website/images/home-banner.png' %}" alt="Homepage banner">
    <div id="home-content">
        <section>
            <article class="home-copy">
                <h1>Hello and welcome to my personal website</h1>

                <p>My name is Corey Richardson and I am a guitarist and web developer in Chicago, IL.</p>

                <p>I’ve played guitar for some famous people and productions, as well as for many unfamous people and productions. I enjoy them both, and would be glad to play for you.</p>
                    
                <p>Much of my time is spent as the content director for <a href="https://www.soundslice.com">Soundslice</a>, a company that makes web-based music education tools.</p>
                <hr>
            </article>
            <aside>
                <img src="{% static 'website/images/chord-diagram-for-home.png' %}" alt="Chord diagram">
            </aside>
        </section>
        <section>
            <article class="home-copy">
                <h1>Contact and work samples</h1>

                <p>To get in touch, send me an email at coreycr[at]hey.com. For samples of my work playing music, see the “<a href="{% url 'website:my_work_music' %}">My work</a>” page. For code, click <a href="https://github.com/thecaprad/" target="_blank">here</a>.</p>
            </article>
        </section>
        <img id="mobile-diagram" src="{% static 'website/images/chord-diagram-for-home.png' %}" alt="Chord diagram">
    </div>
</main>
{% endblock %}
