{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'website/js/my-work.js' %}"></script>
<div id="overlay"></div>
<div class="marquee">
    <div class="video">
        <iframe width="956" height="538" src="https://www.youtube.com/embed/sQKlLgTDhdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-info">
        <div class="title">
            <h1>“Gardens — Julian Lage</h1>
            <p><a href="#" class="x"><b>X</b></a></p>
        </div>
        <hr>
        <div class="copy">
            <h3>Solo guitar</h3>
            <p>This is a solo guitar piece by Julian Lage, from his album World’s Fair.</p>

            <p>I spent a long time working on it. There’s some serious picking and dynamics that, for me, were very challenging.</p>
                
            <p>Hope you enjoy.</p>
        </div>
    </div>
</div>
<div class="work-header"></div>
<div class="content">
    <div class="section-header">
        <h1>My work</h1>
        <p>Click on a thumbnail to learn more about a project.</p>
    </div>
    <div class="work-row">
        <a href="#" id="work-1"><img src="{% static 'website/images/work-thumbnails/1-gardens.png' %}" alt="TODO"></a>
        <a href="#"><img src="{% static 'website/images/work-thumbnails/2-shot-in-the-dark.png' %}" alt="TODO"></a>
        <a href="#"><img src="{% static 'website/images/work-thumbnails/3-assep.png' %}" alt="TODO"></a>
    </div>
    <div class="work-row">
        <a><img src="{% static 'website/images/work-thumbnails/4-sunny.png' %}" alt="TODO"></a>
        <a><img src="{% static 'website/images/work-thumbnails/5-potter.png' %}" alt="TODO"></a>
        <a><img src="{% static 'website/images/work-thumbnails/6-danny-boy.png' %}" alt="TODO"></a>
    </div>
    <div class="work-row">
        <a><img src="{% static 'website/images/work-thumbnails/7-getaway.png' %}" alt="TODO"></a>
        <a><img src="{% static 'website/images/work-thumbnails/8-darren.png' %}" alt="TODO"></a>
        <a><img src="{% static 'website/images/work-thumbnails/9-ani.png' %}" alt="TODO"></a>
    </div>

    <section>
        <h1>✏️ Transcriptions 🎼</h1>
        <p>    
            <img src="{% static 'website/images/ss-logo.png' %}" alt="Soundslice profile">
            I’ve got <b>loads</b> of musical transcriptions on my profile at soundslice.com. I love to transcibe guitar parts from pop music, folk tunes and jazz improvisations. Hopefully I’ve done some hard work for you!
        </p>
        <p>
            Check out my profile: <a href="http://www.soundslice.com/users/corey">www.soundslice.com/users/corey</a>.
        </p>
    </section>
</div>
{% endblock %}
