{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'website/js/my-work.js' %}"></script>
<div id="overlay"></div>
<div id="marquee">
    <!-- Work sample #1 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/sQKlLgTDhdo" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Gardens” (cover) — Julian Lage</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Solo guitar</p>
                <p>This is a solo guitar piece by Julian Lage from his <em>World’s Fair</em> album.</p>

                <p>I spent a long time working on it. There are some serious picking and dynamic challenges that were tough for me to learn, and tougher for my neighbors to listen to.</p>
                    
                <p>I hope you enjoy.</p>
            </div>
        </article>
    </div>

    <!-- Work sample #2 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/r7oYAy_n-7I" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Shot in the Dark” — Tragic Gadget</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist and guitar part writing</p>
                <p>This song was written by LA friends Kim Tilman and Chris Lorentz who go by the collective name Tragic Gadget.</p>
                
                <p>As they wrote this song, I dropped by their recording space in Hollywood and was asked to record layer upon layer of different guitar ideas.</p>

                <figure>
                    <img src="{% static 'website/images/work-blog/shot-in-the-dark-recording.jpg' %}">
                    <figcaption>Taken during the recording.</figcaption>
                </figure>

                <p>I love what they ultimately selected, cut up and processed. The guitar parts sound to me like a child between a Katy Perry song and Jackson Five song — good things in my book.</p>
                
                <p>The animation was done by a group of San Francisco-based creators, Abraham Dieckman, Timothy Hahn and Pamela Goodman. (<a href="https://chinesetakeoutfilms.com/" target="_blank">Chinese Takeout Animation</a>.)</p>
            </div>
        </article>
    </div>

    <!-- Work sample #3 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/VZMDwdlrw0o" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>Ann Street Soul EP</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist, producer and writer</p>
                <p>In the summer of 2013, myself and friends from college put together an EP for our pop/soul band, Ann Street Soul.</p>
                
                <figure>
                    <img src="{% static 'website/images/work-blog/duderstadt-phone.jpg' %}">
                    <figcaption>Paging Dr. Jazz.</figcaption>
                </figure>

                <p>About a year before this release, a video recording we made in my living room went viral on break.com and reddit.com/r/videos. (See the next work example, “Sunny.”) We weren’t planning to be “a band,” but overnight we had fans from all over the world.</p>

                <p>The timing was not great, as many of us were moving to different parts of the US following graduation. We decided to strike while the iron was hot, and launched a successful <a href="https://www.kickstarter.com/projects/annstreetsoul/ann-street-soul-ep" target="_blank">Kickstarter campaign</a> to fund the creation of this EP.</p>
                                
                <p>The writing, recording and editing was a huge process, especially because we were geographically spread out. We recorded the tunes between studios in North Hollywood, CA and Ann Arbor, MI.</p>

                <figure>
                    <img src="{% static 'website/images/work-blog/hollywood-horns.jpg' %}">
                    <figcaption>Hollywood horns.</figcaption>
                </figure>
                
                <p>“Where You Belong” was the final track on the EP and the last we wrote for it. It came about while recording the rhythm section parts in Ann Arbor, which was our first part of the recording process. Those rhythm tracks were recorded live and served as the bedrock for the later vocals, horns and orchestration. As we recorded, one of the tunes we had written was just not working. We scrapped the troubled song and wrote this the night before our last day of studio time.</p>
                
                <p>Most people who have anything nice to tell me about the EP usually say that this is their favorite song. Go figure?</p>
                
                <figure>
                    <img src="{% static 'website/images/work-blog/antwaun-scratch.jpg' %}">
                    <figcaption>Recording scratch vocals in Ann Arbor.</figcaption>
                </figure>

                <p>The band didn’t stick together in the end, but I’m proud of what we all put together. You can <a href="https://open.spotify.com/album/1i0L5IKI2xLdOCwQHRokKQ" target="_blank">stream the EP</a> wherever EPs are streamed.</p>
                
                <p>Band:</p>
                <ul>
                    <li><a href="https://www.instagram.com/antwaunstanley/" target="_blank">Antwaun Stanley</a> (Vox)</li>
                    <li><a href="https://www.instagram.com/billy.harrington.r/" target="_blank">Billy Harrington</a> (Drums)</li>
                    <li>Corey Richardson (Guitar)</li>
                    <li><a href="https://www.instagram.com/bubbsmusic/" target="_blank">Gabe Steiner</a> (Trumpet)</li>
                    <li>Joe Fee (Bass)</li>
                    <li>Keaton Royer (Keyboards)</li>
                    <li><a href="https://www.instagram.com/tallsamtrombone/" target="_blank">Sam Crittenden</a> (Trombone)</li>
                    <li><a href="https://www.imdb.com/name/nm5608825/" target="_blank">Will Marriott</a> (Saxophones)</li>
                </ul>

                <p>Team:</p>
                <ul>
                    <li><a href="https://www.bethberad.com/" target="_blank">Beth Radloff</a> (Album art)</li>
                    <li>Brian Young (Chamber conductor + organ)</li>
                    <li><a href="https://gabesaltman.com/" target="_blank">Gabe Saltman</a> (Horn engineer)</li>
                    <li>Mark Partain (Manager)</li>
                    <li><a href="http://www.nicknagurkamusic.com/" target="_blank">Nick Nagurka</a> (Rhythm & vox engineer + mixing)</li>
                    <li><a href="http://nickrifken.com/about" target="_blank">Nick Rifkin</a> (Percussionist)</li>
                </ul>
            </div>
        </article>
    </div>

    <!-- Work sample #4 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/B_y4X-tz2qY" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Sunny” — Ann Street Soul</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist, arranger and video editor</p>
                <p>This is a solo guitar piece by Julian Lage, from his album World’s Fair.</p>

                <p>I spent a long time working on it. There’s some serious picking and dynamics that, for me, were very challenging.</p>
                    
                <p>Hope you enjoy.</p>
            </div>
        </article>
    </div>

    <!-- Work sample #5 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/hT5cxOmhRZE?start=195" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Days of Summer” — A Very Potter Sequel</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist</p>
                <p>This is a solo guitar piece by Julian Lage, from his album World’s Fair.</p>

                <p>I spent a long time working on it. There’s some serious picking and dynamics that, for me, were very challenging.</p>
                    
                <p>Hope you enjoy.</p>
            </div>
        </article>
    </div>

    <!-- Work sample #6 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/r5fCr13Lp1w" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Danny Boy” — Traditional</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Solo guitar and partial arranger</p>
                    <p>This arrangement lifts heavily from wonderful versions by Emil Ernebro and George Benson, with a few of my own ideas sprinkled in.</p>

                    <p>You can see Emil’s version <a href="https://www.youtube.com/watch?v=bcNjEuAPifU">here</a>, and George Benson’s version <a href="https://www.youtube.com/watch?v=Z8ORR4w_tFU">here</a>.</p>

                    <p>You can check out the transcription of this arrangement <a href="https://www.soundslice.com/slices/2t3cc/">here</a>.</p>
            </div>
        </article>
    </div>

    <!-- Work sample #7 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/_UR_YtiTRFs" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Getaway” — Ann Street Soul</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist, producer and video editor</p>
                <p>This is a solo guitar piece by Julian Lage, from his album World’s Fair.</p>

                <p>I spent a long time working on it. There’s some serious picking and dynamics that, for me, were very challenging.</p>
                    
                <p>Hope you enjoy.</p>
            </div>
        </article>
    </div>

    <!-- Work sample #8 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube.com/embed/t8MZ3zfXJrM?start=91" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“I Still Think” — Darren Criss</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist</p>
                <p>This is a solo guitar piece by Julian Lage, from his album World’s Fair.</p>

                <p>I spent a long time working on it. There’s some serious picking and dynamics that, for me, were very challenging.</p>
                    
                <p>Hope you enjoy.</p>
            </div>
        </article>
    </div>

    <!-- Work sample #9 -->
    <div class="work-sample">
        <div class="media">
            <iframe width="956" height="538" src="https://www.youtube-nocookie.com/embed/Ke1B1iAeY2c?start=174" frameborder="0" allowfullscreen></iframe>
        </div>
        <article class="media-info">
            <div class="title">
                <h1>“Ani” — Ani: A Parody</h1>
                <p><a href="#" class="x"><b>X</b></a></p>
                <hr>
            </div>
            <div class="copy">
                <p class="credit">Guitarist and guitar part writing</p>
                <p>This is a solo guitar piece by Julian Lage, from his album World’s Fair.</p>

                <p>I spent a long time working on it. There’s some serious picking and dynamics that, for me, were very challenging.</p>
                    
                <p>Hope you enjoy.</p>
            </div>
        </article>
    </div>

</div>
<div class="my-work-banner"></div>
<section class="content">
    <div class="my-work-header">
        <h1>My work</h1>
        <p>Click on a thumbnail to learn more about a project.</p>
    </div>
    <div class="work-row">
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/1-gardens.png' %}" alt="Solo acoustic guitar"></a>
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/2-shot-in-the-dark.png' %}" alt="Animation music"></a>
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/3-assep.png' %}" alt="Soul EP"></a>
    </div>
    <!-- <div class="work-row">
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/4-sunny.png' %}" alt="TODO"></a>
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/5-potter.png' %}" alt="TODO"></a>
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/6-danny-boy.png' %}" alt="TODO"></a>
    </div>
    <div class="work-row">
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/7-getaway.png' %}" alt="TODO"></a>
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/8-darren.png' %}" alt="TODO"></a>
        <a href="#" class="worksamplebut"><img src="{% static 'website/images/work-thumbnails/9-ani.png' %}" alt="TODO"></a>
    </div> -->

    <section class="transcriptions">
        <h1>✏️ Transcriptions 🎼</h1>
        <p>    
            <img src="{% static 'website/images/ss-logo.png' %}" alt="Soundslice profile">
            I’ve got <em>loads</em> of musical transcriptions on <a href="http://www.soundslice.com/users/corey">my profile</a> at soundslice.com. I love to transcibe guitar parts from pop music, folk tunes and jazz improvisations. Hopefully I’ve done some hard work for you!
        </p>
    </section>
</div>
{% endblock %}
