{% extends 'website/base.html' %}
{% load static %}

{% block title %} Corey Richardson | Chicago, IL {% endblock %}

{% block content %}
<main>
    <img id="banner" src="{% static 'website/images/home-banner.png' %}" alt="Homepage banner">
    <div id="home-content">
        <h1 id="show-h1">Shows</h1>
        <div class="show">
            <div class="date">
                <span class="day">12</span>
                <span class="month">Mar</span>
                <span class="weekday">Sat</span>
            </div>
            <div class="description">
                <span class="gig-info">W. Frank Quinn & the Quarantinis @ 7:00 pm</span>
                <span class="venue">
                    <a href="https://mickeyfinnsbrewery.com/">
                        Mickey Finn's, Libertyville, IL
                    </a>
                </span>
            </div>
        </div>
    </div>
</main>
{% endblock %}
