{% extends 'website/base.html' %}
{% load static %}

{% block title %} Corey Richardson | Chicago, IL {% endblock %}

{% block content %}
<main>
    <img id="banner" src="{% static 'website/images/shows-banner.png' %}" alt="Homepage banner">
    <div id="home-content">
        <h1 id="show-h1">Shows</h1>
        {% if shows %}
        {% for show in shows %}
        <div class="show">
            <div class="date">
                <span class="day">{{ show.date|date:"j" }}</span>
                <span class="month">{{ show.date|date:"M" }}</span>
                <span class="weekday">{{ show.date|date:"D" }}</span>
            </div>
            <div class="description">
                <span class="show-info">
                    <span class="show-description">{{ show.description }} @ {{ show.date|date:"g:i" }} {{ show.date|date:"A" }} </span>
                    <span class="venue-info"><a href="{% if show.venue.url %}{{ show.venue.url }}{% else %}#{% endif %}">{{ show.venue.name }}</a>| {{ show.venue.city }}, {{ show.venue.state }}</span>
                </span>

                <!-- <span class="gig-info">
                    {{ show.description }} @ {{ show.date|date:"g:i" }}
                    <span style="font-variant: small-caps;">
                         {{ show.date|date:"A" }}
                    </span>
                    <span class="venue">
                        <a href="{% if show.venue.url %}{{ show.venue.url }}{% else %}#{% endif %}">{{ show.venue.name }}</a>
                        | {{ show.venue.city }}, {{ show.venue.state }}
                    </span> -->
                </span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="show">
            <p style="text-align: center;">No upcoming shows — check back later.</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
