{% extends 'website/base.html' %}
{% load static %}

{% block title %} Corey Richardson | Chicago, IL {% endblock %}

{% block content %}
<main>
    <img id="banner" src="{% static 'website/images/home-banner.png' %}" alt="Homepage banner">
    <div id="home-content">
        <h1 id="show-h1">Shows</h1>
        {% for show in shows %}
        <div class="show">
            <div class="date">
                <span class="day">{{ show.date|date:"j" }}</span>
                <span class="month">{{ show.date|date:"M" }}</span>
                <span class="weekday">{{ show.date|date:"D" }}</span>
            </div>
            <div class="description">
                <span class="gig-info">{{ show.description }} @ {{ show.date|date:"g:i" }}<span style="font-variant: small-caps;"> {{ show.date|date:"A" }}</span></span>
                <span class="venue">
                    <a href="{% if show.venue.url %}{{ show.venue.url }}{% else %}#{% endif %}">
                        {{ show.venue.name }}, {{ show.venue.city }}, {{ show.venue.state }}
                    </a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
