body, html {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
}

h1{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 40pt;
    color: #000000;
    margin-top: .25em;
    margin-bottom: .25em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    color: #000000;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    text-decoration: none;
    color: #000000;
    padding-inline-start: 14pt;
}

nav {
    margin: auto;
    width: 1242px;
    overflow: hidden;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

.splash-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 303px;
    margin-left: -225px; /* Half the width */
    margin-top: -151.5px; /* Half the height */
}

.hero {
    background-image: url("images/home-hero.png");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.greeting {
    text-align: center;
    width: 100%;
    margin: auto;
}

.mission {
    width: 70%;
    margin: auto;
}

.mission p {
    text-align: left;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #DF472C;
    border-radius: 50%;
    display: inline-block;
    margin-inline: 50px;
}
