/* BASE MOBILE */

body, html {
    font-size: 16px;
    background-color: #ffffff;
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #000000;
    margin: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    color: #000000;
    margin-top: .3em;
    margin-bottom: .3em;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.063em;
}

p, li, figure {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #000000;
}

figure {
    font-size: .8em;
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6em;
}

p a, li a {
    color: #246cbe;
    text-decoration: none;
}

p b {
    font-weight: 600;
}

hr {
    border: none;
    height: 1px;
    background-color: #979797;
}

nav {
    overflow: hidden;
    position: relative;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    padding-inline-start: 1.5%;
}

#links {
    display: None;
}

#links.active {
    display: block;
}

#top-link {
    width: 50%;
}

#hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 15px;
    padding-right: 10px;
}

#hamburger > * {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

#banner {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

main section {
    display: block;
    margin: 3%;
}

/* TODO delete this when done with Soundslice demo video */
#lesson {
    display: block;
    position: relative;
    width: 99%;
    margin: 3% auto;
    overflow: hidden;
}

/* HOME MOBILE */

section aside img {
    display: none;
}

#mobile-diagram {
    display: block;
    width: 25%;
    margin: 0 auto;
}

/* BIO MOBILE */

#bio-content {
    width: 100%;
}

.bio-row {
    display: block;
    position: relative;
    width: 99%;
    margin: 3% auto;
    overflow: hidden;
}

.bio-row:nth-of-type(2) .bio-box-a {
    width: 46%;
    margin: 0 1.5%;
    float: left;
}

.bio-row:nth-of-type(2) .bio-box-b {
    width: 46%;
    margin: 0 1.5%;
    float: right;
}

.bio-box-a, .bio-box-b {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.bio-row img {
    width: 100%;
}

/* DESKTOP QUERY */
@media screen and (min-width: 820px) {

    /* BASE DESKTOP */

    body, html {
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    nav {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    
    #links {
        display: inline-block;
        position: absolute;
        right: 0;
    }

    nav a {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1em;
        text-decoration: none;
        color: #000000;
        padding-inline-start: 1.125em;
    }

    /* Corey Richardson 'logo.' */
    nav > a {
        font-size: 1.4em;
        float: left;
        padding-inline-start: 0;
    }

    #links a:last-child {
        padding-inline-end: 0;
    }

    #hamburger {
        display: none;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.313em;
        color: #000000;
        margin-top: .3em;
        margin-bottom: .3em;
    }

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.125em;
        color: #000000;
        margin-top: .3em;
        margin-bottom: .3em;
    }


    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: 1.063em;
    }

    p, li {
        font-family: 'Raleway', sans-serif;
        font-size: 1.1em;
        line-height: 1.5em;
        color: #000000;
    }

    p a, li a {
        color: #246cbe;
        text-decoration: none;
    }

    p b {
        font-weight: 600;
    }

    hr {
        border: none;
        height: 1px;
        background-color: #979797;
    }

    /* HOME DESKTOP */

    main {
        width: 70%;
        height: 100vh;
        margin: 0 auto;
    }

    #banner {
        width: 100%;
        height: auto;
        margin-bottom: 2%;
    }

    main section {
        margin: 0;
    }

    main article {
        float: left;
        width: 70%;
    }

    main aside {
        float: right;
        width: 25%;
    }

    section aside img {
        display: block;
        width: 80%;
        height: auto;
        float: right;
    }

    #mobile-diagram {
        display: none;
    }

    /* BIO DESKTOP */

    #bio-content {
        width: 85%;
        margin: 0 auto;
    }

    #bio-content p, #bio-content li {
        font-size: .95em;
        line-height: 1.5em;
    }

    #bio-content h2 {
        margin-top: 0;
    }

    .bio-row {
        display: block;
        position: relative;
        width: 99%;
        margin: 3% auto;
        overflow: hidden;
    }

    .bio-row:first-of-type {
        margin: 0 auto;
    }

    .bio-box-a {
        width: 46%;
        margin: 0 1.5%;
        float: left;

    }

    .bio-box-b {
        width: 46%;
        margin: 0 1.5%;
        float: right;
    }

    .bio-row img {
        width: 100%;
    }

    /* The following two styles stagger the left/right placement of every other bio section. */
    .bio-row:nth-of-type(3) .bio-box-a, .bio-row:nth-of-type(5) .bio-box-a, .bio-row:nth-of-type(7) .bio-box-a {
        float: right;
    }

    .bio-row:nth-of-type(3) .bio-box-b, .bio-row:nth-of-type(5) .bio-box-b, .bio-row:nth-of-type(7) .bio-box-b {
        float: left;
    }
}

/* MY-WORK */

.my-work-banner {
    height: 302px;
    width: 996px;
    margin: auto;
    background-image: url("images/moving-boxes-for-work.png");
}

#overlay.active {
    display: block;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }


#marquee.active {
    display: block;
}
#marquee {
    display: none;
    position: fixed;
    background-color: #ffffff;
    width: 1360px;
    height: 538px;
    left: 50%;
    top: 50%;
    margin-left: -680px;
    margin-top: -269px;
    z-index: 2;
    overflow: hidden;
}

#closemarqueebut {
    display: block;
    float: right;
    z-index: 3;
    position: relative;
}

.media {
    float: left;
    height: 100%;
    width: 956px;
}

article.media-info {
    float: right;
    height: 538px;
    width: 404px;
}

.title {
    display: block;
    width: 404px;
    padding-top: 8px;
}

.title h1 {
    float: left;
    width: 80%;
    padding-left: 20px;
}

.title .x {
    float: right;
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.title p {
    float: right;
    padding-right: 20px;
}

 .copy {
    display: block;
    height: 460px;
    overflow: scroll;
}

p.credit {
    color: #0d66b0;
    font-weight: 100;
    font-style: oblique;
    font-size: 1.25em;
}

.media-info hr {
    margin-left: 20px;
    margin-right: 20px;
    clear: both;
}

.copy > * {
    padding-left: 20px;
    padding-right: 20px;
}

.copy ul {
    margin-left: 20px;
}

.copy figure {
    margin: auto;
}

.copy figure img {
    width: 100%;
}

.work-row {
    width: 996px;
    height: 237px;
    margin-top: 20px;
    display: block;
}

.work-row a {
    display: inline-block;
}

.work-row > a:first-child {
    padding-left: 40px;
    float: left;
}

.work-row > a:nth-child(2) {
    margin-left: 20px;
}

.work-row > a:last-child {
    padding-right: 40px;
    float: right;
}

.my-work-header {
    padding-left: 40px;
}

section.transcriptions {
    width: 632px;
    margin: 0 auto;
    margin-top: 24px;
}

section.transcriptions h1 {
    text-align: center;
}

section.transcriptions p {
    text-align: left;
}

section.transcriptions img {
    float: left;
    margin-right: 40px;
}

/* blog */

article.blog-entry {
    width: 75%;
    margin: 0 auto;
}

article.blog-entry > h1 {
    font-size: 2.188em;
    line-height: 1.7em;
    text-align: center;
}

article.blog-entry > h2 {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
}

article.blog-entry > h3 {
    font-size: 1.375em;
    line-height: 1.875em;
    text-align: center;
    text-decoration: underline;
}

article.blog-entry > p {
    font-size: 1.313em;
    line-height: 1.875em;
}
