body, html {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
}

h1{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: #000000;
    margin-top: .3em;
    margin-bottom: .3em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    color: #000000;
}

p a {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.b {
    font-weight: 600;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    text-decoration: none;
    color: #000000;
    padding-inline-start: 14pt;
}

nav {
    margin: auto;
    width: 996px;
    overflow: hidden;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

.hero {
    height: 492.39px;
    width: 996px;
    margin: auto;
    background-image: url("images/root-beer-for-home.png");
}

.content {
    padding-top: 20px;
    width: 996px;
    height: 327px;
    margin: auto;
}

section {
    display: inline-block;
    float: left;
    width: 664px;
    height: 100%;
}

article {
    padding-left: 40px;
}

article p {
    text-align: justify;
}

hr {
    margin-left: 40px;
    border: none;
    height: 1px;
    color: #979797;
    background-color: #979797;
}

aside {
    display: inline-block;
    float: right;
    width: 332px;
    height: 100%;
}

aside img {
    padding-left: 84px;
}

.splash-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 303px;
    margin-left: -225px; /* Half the width */
    margin-top: -151.5px; /* Half the height */
}
