{% load static %}

<h1>Ani: A Parody — Team Starkid</h1>
<p>Guitarist</p>
<iframe id="player-8" class="player" type="text/html" src="https://www.youtube-nocookie.com/embed/Ke1B1iAeY2c?enablejsapi=1&start=174"
  frameborder="0"></iframe>
<p>In the summer of 2014, I played for two different <a href="https://www.teamstarkid.com/" target="_blank">Team Starkid</a> musicals being put on in Chicago. The shows were <i>ANI: A Parody</i> and <i>The Trail to Oregon!</i> The former being an exploration of Darth Vader as a washed-up bum. The later being a spoof on the video game The Oregon Trail.</p>

<figure>
  <img src="{% static 'website/images/work-blog/tall-boys.jpg' %}">
  <figcaption>
    The band before in our “Trail to Oregon” digs.
  </figcaption>
</figure>

<p>The shows ran simultaneously for the entire summer. For the most part, our schedule alternated one show one day and the other the next. Playing two musicals at the same time was a mental workout.</p>

<p>The <i>Ani</i> music was written by Clark Baxtresser and Pierce Siebers of the pop duo <a href="https://www.clarkbaxtresser.com/talkfine" target="_blank">TalkFine</a>. I think the <a href="https://open.spotify.com/album/0KxCKOQvszVdmFnIXmHDyL" target="_blank">album</a> is super cool. Something of a mixture of Hall and Oates, 80s rock and Jedi.</p>
