<h1>“Danny Boy” — Traditional</h1>
<p>Solo guitar and partial arranger</p>
<iframe id="player-5" src="https://www.youtube-nocookie.com/embed/r5fCr13Lp1w?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<p>I stitched together this arrangement by lifting heavily from versions by <a href="https://www.instagram.com/emilernebroguitar/" target="_blank">Emil Ernebro</a> and George Benson.</p>
<ul>
    <li><a href="https://www.soundslice.com/slices/2t3cc/" target="_blank">My transcription</a></li>
    <li><a href="https://www.youtube.com/watch?v=bcNjEuAPifU" target="_blank">Emil's version</a></li>
    <li><a href="https://www.youtube.com/watch?v=Z8ORR4w_tFU" target="_blank">George’s version</a></li>
</ul>