{% load static %}

<article>
    <h1>Ann Street Soul EP</h1>
    <p>Guitarist, producer and writer</p>
    <iframe width="100%" src="https://www.youtube-nocookie.com/embed/VZMDwdlrw0o" frameborder="0" allowfullscreen></iframe>
    <div class="work-copy">
        <p>In the summer of 2013, myself and friends from college put together an EP for our pop/soul band, Ann Street Soul.</p>
        
        <figure>
            <img src="{% static 'website/images/work-blog/duderstadt-phone.jpg' %}">
            <figcaption>Paging Dr. Jazz.</figcaption>
        </figure>

        <p>About a year before this release, a video recording we made in my living room went viral on break.com and reddit.com/r/videos. (See the next work example, “Sunny.”) We weren’t planning to be “a band,” but overnight we had fans from all over the world.</p>

        <p>The timing was not great, as many of us were moving to different parts of the US following graduation. We decided to strike while the iron was hot, and launched a successful <a href="https://www.kickstarter.com/projects/annstreetsoul/ann-street-soul-ep" target="_blank">Kickstarter campaign</a> to fund the creation of this EP.</p>
                        
        <p>The writing, recording and editing was a huge process, especially because we were geographically spread out. We recorded the tunes between studios in North Hollywood, CA and Ann Arbor, MI.</p>

        <figure>
            <img src="{% static 'website/images/work-blog/hollywood-horns.jpg' %}">
            <figcaption>Hollywood horns.</figcaption>
        </figure>
        
        <p>“Where You Belong” was the final track on the EP and the last we wrote for it. It came about while recording the rhythm section parts in Ann Arbor, which was our first part of the recording process. Those rhythm tracks were recorded live and served as the bedrock for the later vocals, horns and orchestration. As we recorded, one of the tunes we had written was just not working. We scrapped the troubled song and wrote this the night before our last day of studio time.</p>
        
        <p>Most people who have anything nice to tell me about the EP usually say that this is their favorite song. Go figure?</p>
        
        <figure>
            <img src="{% static 'website/images/work-blog/antwaun-scratch.jpg' %}">
            <figcaption>Recording scratch vocals in Ann Arbor.</figcaption>
        </figure>

        <p>The band didn’t stick together in the end, but I’m proud of what we all put together. You can <a href="https://open.spotify.com/album/1i0L5IKI2xLdOCwQHRokKQ" target="_blank">stream the EP</a> wherever EPs are streamed.</p>
        
        <p>Band:</p>
        <ul>
            <li><a href="https://www.instagram.com/antwaunstanley/" target="_blank">Antwaun Stanley</a> (Vox)</li>
            <li><a href="https://www.instagram.com/billy.harrington.r/" target="_blank">Billy Harrington</a> (Drums)</li>
            <li>Corey Richardson (Guitar)</li>
            <li><a href="https://www.instagram.com/bubbsmusic/" target="_blank">Gabe Steiner</a> (Trumpet)</li>
            <li>Joe Fee (Bass)</li>
            <li>Keaton Royer (Keyboards)</li>
            <li><a href="https://www.instagram.com/tallsamtrombone/" target="_blank">Sam Crittenden</a> (Trombone)</li>
            <li><a href="https://www.imdb.com/name/nm5608825/" target="_blank">Will Marriott</a> (Saxophones)</li>
        </ul>

        <p>Team:</p>
        <ul>
            <li><a href="https://www.bethberad.com/" target="_blank">Beth Radloff</a> (Album art)</li>
            <li>Brian Young (Chamber conductor + organ)</li>
            <li><a href="https://gabesaltman.com/" target="_blank">Gabe Saltman</a> (Horn engineer)</li>
            <li>Mark Partain (Manager)</li>
            <li><a href="http://www.nicknagurkamusic.com/" target="_blank">Nick Nagurka</a> (Rhythm & vox engineer + mixing)</li>
            <li><a href="http://nickrifken.com/about" target="_blank">Nick Rifkin</a> (Percussionist)</li>
        </ul>
    </div>
</article>