<article>
    <h1>“Gardens”</h1>
    <p>Solo guitar</p>
    <iframe width="100%" src="https://www.youtube-nocookie.com/embed/sQKlLgTDhdo" frameborder="0" allowfullscreen></iframe>
    <div class="work-copy">
        <p>This is a solo guitar piece by Julian Lage from his <em>World’s Fair</em> album.</p>

        <p>I spent a long time working on it. There are some serious picking and dynamic challenges that were tough for me to learn, and tougher for my neighbors to listen to.</p>
            
        <p>I hope you enjoy.</p>
    </div>
</article>