<h1>“Getaway” — Ann Street Soul</h1>
<p>Guitarist, producer and video editor</p>
<iframe id="player-6" src="https://www.youtube-nocookie.com/embed/_UR_YtiTRFs?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<p>After a few years of hiatus, my band Ann Street Soul decided to record a few more songs. This felt like a pretty “big” production. Many of the band members were flying in from other parts of the country and we had rented a film/TV location spot in Chicago.</p>
<p>There were separate teams for audio and video, assistants running around to find more music stands. The whole nine yards and lots of moving parts.</p>
<p>In addition to this original, we recorded an <a href="https://youtu.be/s_6oZrxOD7Y" target="_blank">acoustic version</a> of the same tune, as well as an arrangement of Sia’s “<a href="https://youtu.be/-3ZRYH5_uBg" target="_blank">Chandelier</a>.”</p>