{% load static %}

<h1>“I Still Think” — Darren Criss</h1>
<p>Guitarist</p>
<iframe id="player-7" src="https://www.youtube-nocookie.com/embed/t8MZ3zfXJrM?enablejsapi=1&start=91" frameborder="0" allowfullscreen></iframe>
<p>This is a clip from a concert I played with actor/singer <a href="https://en.wikipedia.org/wiki/Darren_Criss" target="_blank">Darren Criss</a> in Chicago during the North Halsted Market Days event. There was no rehearsal for this and it was definitely the largest crowd I’d played to at that point. It was a total blast.</p>

<figure>
    <img src="{% static 'website/images/work-blog/jumperwall.jpg' %}">
    <figcaption>
        Before a 90s show in LA. Left to right: Myself, Rob Cantor, Joe Dart, Darren Criss and Ricky Rollins.
    </figcaption>
</figure>

<p>Darren’s a friend form college, and it’s been awesome to watch his star shoot into the stratosphere. I still do the occasional gig with him, and his theatre troupe, <a href="https://www.teamstarkid.com/" target="_blank">Team Starkid</a>.</p>
