{% load static %}

<h1>My personal website</h1>

<p><figure>
    <img src="{% static 'website/images/work-blog/homepage.png' %}" alt="Website screenshot">
</figure></p>

<p>This website was built with Python/Django on the backend and plain ol’ HTML, CSS and Javascript on the frontend. With some resizing, you’ll notice that the design is responsive, and was built with a mobile-first mentality.</p>

<p>I created this website as a final project for an intensive <a href="https://www.coursera.org/specializations/web-design" target="blank">web development course</a> offered by Coursera/The University of Michigan. Below you can find a video where I walk the class through some of the thinking behind my approaches/solutions. Though it’s rudimentary, hopefully you’ll see that I took care to incorporate proper semantics and accessibility standards. You can view the GitHub repository <a href="https://github.com/thecaprad/coreyguitar" target="blank">here</a>.</p>

<p><video width="100%" controls poster="{% static 'website/images/work-blog/website-guided-tour-thumbnail.png' %}">
    <source src="https://www.dropbox.com/s/bt8nfe83s6551sj/final%20project.mp4?raw=1"/>
</video></p>