{% load static %}

<h1>“Shot in the Dark” — Tragic Gadget</h1>
<p>Guitarist and guitar part writing</p>
<iframe id="player-1" src="https://www.youtube-nocookie.com/embed/r7oYAy_n-7I?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<p>This song was written by LA friends Kim Tilman and Chris Lorentz who go by the collective name Tragic Gadget.</p>
        
<p>As they wrote this song, I dropped by their recording space in Hollywood and was asked to record layer upon layer of different guitar ideas.</p>

<figure>
    <img src="{% static 'website/images/work-blog/shot-in-the-dark-recording.jpg' %}">
    <figcaption>Taken during the recording.</figcaption>
</figure>

<p>I love what they ultimately selected, cut up and processed. The guitar parts sound to me like a child between a Katy Perry song and Jackson Five song — good things in my book.</p>

<p>The animation was done by a group of San Francisco-based creators, Abraham Dieckman, Timothy Hahn and Pamela Goodman. (<a href="https://chinesetakeoutfilms.com/" target="_blank">Chinese Takeout Animation</a>.)</p>
