{% load static %}

<h1>Soundslice Python API library</h1>

<p><figure>
    <img src="{% static 'website/images/work-blog/soundslice-homepage.png' %}" alt="Website screenshot">
</figure></p>

<p>In July, 2021, I wrote and published the official Python library for Soundslice’s <a href="https://www.soundslice.com/help/data-api/">data API</a>. Soundslice is a web app that lets musicians synchronize sheet music with real recordings, and create notation and tablature right in the web browser.</p>

<p>This library makes it possible for our customers to manage their content from Python. You can view the  documentation on the Soundslice GitHub <a href="https://github.com/soundslice/soundsliceapi" target="blank">here</a>. Installation is as easy as:</p>

<p><code>pip install soundsliceapi</code></p>
