{% load static %}

<h1>“Sunny” — Ann Street Soul</h1>
<p>Guitarist, arranger and video editor</p>
<figure>
    <a href="https://youtu.be/B_y4X-tz2qY" target="_blank"><img src="{% static 'website/images/work-blog/antwaun-sunny.png' %}"></a>
    <figcaption>Over a million can't be wrong.</figcaption>
</figure>
<p>When I was in high school, I stumbled on a <a href="https://youtu.be/8q742ZgZC28" target="_blank">video</a> of Pat Martino and John Scofield playing this tune at a jazz fest in 2002. I listened to this performance so many times. If it was a tape, I would have worn it out.</p>
<p>When it was time to put together a senior recital in college, I knew I wanted to play this song. I know it's kind of a <i>passé</i> song in the jazz world, but whatever. I put together this arrangement, listening heavily to the original version as well as one by Marvin Gaye.</p>
<p>The recital was a success, and the tune seemed to go over great. With only two weeks or so before leaving college for good, I got most of the group from my recital together to document a tune before we left. We recorded it live in my college living room on Ann St. in Ann Arbor, MI. I think it was done in three takes — there’s no dubbing or anything. Antwaun was on his way to a rehearsal, so we were kind of squeezing it in.</p>
<p>A few weeks later, the recording engineer sent over the audio and we all thought something like, “Dang, that came out great!” When the video came together, it was the cherry on top.</p>
<p>We were not planning to be “a band”, but I thought it was worth sharing the final product on YouTube and Reddit. I think after about 5 weeks of being on the Internet, it went unexpectedly viral on reddit.com/r/videos. From there is spread to other websites.</p>
<p>People were writing in from different parts of the world to ask where they could hear more of us. They couldn’t, because there was nothing else to hear, and we’d all moved to different cities! We decided to launch a Kickstarter and fund an EP. (See the above “Ann St. Soul EP” work sample.)</p>
